@font-face {
  font-family: 'Cafe24Behappy';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-3@1.1/Cafe24Behappy.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
.location .emoji {
  font-size: 1rem;
  
}
.weather-icon {
  width: 50px;
  height: 50px;
  margin-left: 10px;
}

body {
  background: url(
    https://img.freepik.com/free-photo/mountain-fuji-with-blue-sky-japan_1232-2441.jpg?ga=GA1.1.1612157126.1743834659&semt=ais_hybrid&w=740);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  padding: 0 20px;
}

.weather-box {
  font-family: 'Cafe24Behappy', sans-serif; 
  text-align: center;
  background-color: rgba(255, 255, 255, 0); 
  border-radius: 20px;
  padding: 20px;
  color: #ffffff; 
  
}

.location {
  font-size: 2rem;
  margin-bottom: 10px;
}

.temperature {
  font-size: 3rem;
  margin-bottom: 15px;
}

.description {
  font-size: 3rem;
  font-weight: 400;
  text-transform: capitalize; 
}
.weather-button{
  font-family: 'Cafe24Behappy', sans-serif; 
  padding-top: 30px;
  margin-right: 10px;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}

.weather-button button {
  margin-right: 10px;
  font-size: 1.2rem;        
  padding: 5px 10px;        
  height: 40px;             


}
.weather-button button:hover {
  background-color: #ffffff; 
  border-color: #ffffff;     
  color: #000000;            
}




@media (max-width: 768px) {
  .weather-button button {
    min-width: 80px;
    min-height: 48px;
    font-size: 1.2rem;
    margin: 10px;
  }
}

@media (max-width: 480px) {
  .weather-button button {
    min-width: 100px;
    min-height: 56px;
    font-size: 1.3rem;
    margin: 10px;
  }
}
