body {
  background: url(
    https://media.istockphoto.com/id/629868088/ko/%EC%82%AC%EC%A7%84/%EA%B2%A8%EC%9A%B8-%EC%9E%A5%EB%A9%B4-%ED%9D%90%EB%A6%B0-%EB%B0%B0%EA%B2%BD%EC%97%90-%EB%88%88%EC%9D%B4.jpg?s=612x612&w=0&k=20&c=FGcRpMk91py1bQzk98W3y3zGb-H8VlkwWPebS385-uc=);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.weather-box{
  background-color: white;
  border-radius: 20px;
  padding: 10px 10px 10px 10px;
}

.weather-button{
  padding-top: 50px;
  margin-right: 10px;
}

.weather-button button {
  margin-right: 10px;

}
.weather-button button:hover {
  background-color: #ffffff; 
  border-color: #ffffff;     
  color: #000000;            
}

/* 마지막 버튼에 margin-right를 제거 */
.weather-button button:last-child {
  margin-right: 0;
}
